@import "../../assets/styles/vars.scss";

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mobileSmall {
        grid-template-columns: repeat(1, 1fr);
    }
}
