@import "../../../assets/styles/vars.scss";

.body {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background-color: $blue;
    @media (max-width: $tablet) {
        width: 100%;
        height: 60px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
}

.logoImg {
    display: block;
    width: 100%;
    height: 40px;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 1;
    }
}

.nav {
    margin-top: 30px;
    @media (max-width: $tablet) {
        margin-top: 0;
    }
}
