@import "../assets/styles/vars.scss";

.layout {
    padding: 30px 0 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 60px minmax(0, auto);
    gap: 30px;
    @media (max-width: $tablet) {
        grid-template-rows: 60px minmax(0, auto);
        grid-template-columns: minmax(0, auto);
    }
}

.search {
    margin-bottom: 20px;
}