@import "../../assets/styles/vars.scss";

.search {
    width: 30%;
    position: relative;
    @media (max-width: $tablet) {
        width: 50%;
    }
    @media (max-width: $mobile) {
        width: 100%;
    }
    img {
        display: block;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
    input {
        width: 100%;
        padding-left: 50px;
    }
}
